<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity android:name="com.gaelmarhic.quadrant.Manifest1Activity1">

            <meta-data
                    android:name="addressable"
                    android:value="true"/>

        </activity>

        <activity android:name="com.gaelmarhic.quadrant.Manifest1Activity2"/>

        <meta-data
                android:name="addressable"
                android:value="false"/>

    </application>

</manifest>
